<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<material name="white">
	    <color rgba="1 1 1 1"/>
	</material>

	<material name="orange">
	    <color rgba="1 0.3 0.1 1"/>
	</material>

	<material name="blue">
	    <color rgba="0.2 0.2 1 1"/>
	</material>

	<material name="black">
	    <color rgba="0 0 0 1"/>
    </material>
<link name="base_link">
</link>
<joint name="chassis_joint" type="fixed">
	<parent link="base_link"/>
    	<child link="chassis"/>
    	<origin xyz="0 0 0"/>
</joint>

<link name="chassis">
    <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <box size="${chassis_length} ${chassis_width} ${chassis_height}"/>
        </geometry>
        <material name="white"/>
    </visual>
    <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <box size="${chassis_length} ${chassis_width} ${chassis_height}"/>
        </geometry>
    </collision>
    <xacro:inertial_box mass="0.5" x="${chassis_length}" y="${chassis_width}" z="${chassis_height}">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:inertial_box>
</link>

<xacro:swerve_drive name="front_right" x="1" y="1" z="-1" r="-1"/>
<xacro:swerve_drive name="rear_right" x="-1" y="1" z="-1" r="1"/>
<xacro:swerve_drive name="front_left" x="1" y="-1" z="-1" r="1"/>
<xacro:swerve_drive name="rear_left" x="-1" y="-1" z="-1" r="1"/>

<gazebo reference="base_link">
    <material>Gazebo/Green</material>
</gazebo>

<gazebo reference="chassis">
    <material>Gazebo/Blue</material>
</gazebo>

</robot>

