<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">
    
    <xacro:include filename="inertial_macros.xacro" />
    <xacro:include filename="robot_properties.xacro" />
    <xacro:include filename="robot_swerve_drive.xacro" />
    <xacro:include filename="robot_core.xacro" />
    <xacro:include filename="ros2_control.xacro"/>
    <!--xacro:include filename="sim_control.xacro" /-->
    
</robot>
