<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<material name="white">
	    <color rgba="1 1 1 1"/>
	</material>

	<material name="orange">
	    <color rgba="1 0.3 0.1 1"/>
	</material>

	<material name="blue">
	    <color rgba="0.2 0.2 1 1"/>
	</material>

	<material name="black">
	    <color rgba="0 0 0 1"/>
    </material>
<link name="base_link">
</link>
<joint name="chassis_joint" type="fixed">
	<parent link="base_link"/>
    	<child link="chassis"/>
    	<origin xyz="0 0 0"/>
</joint>

<link name="chassis">
    <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <box size="0.280 0.230 0.080"/>
        </geometry>
        <material name="white"/>
    </visual>
</link>


<link name="front_right_wheel">
    <xacro:include filename="robot_wheel.xacro" />
</link>

<link name="front_right_steering">
    <xacro:include filename="robot_steering.xacro" />
</link>

<joint name="front_right_steering_joint" type="fixed">
	<parent link="chassis"/>
    	<child link="front_right_steering"/>
	<origin xyz="0.140 0.115 -0.045"/>
</joint>


<joint name="front_right_wheel_joint" type="fixed">
	<parent link="front_right_steering"/>
    	<child link="front_right_wheel"/>
	<origin xyz="0 0 -0.025" rpy="-${pi/2} 0 0"/>
</joint>


<link name="rear_right_wheel">
    <xacro:include filename="robot_wheel.xacro" />
</link>

<link name="rear_right_steering">
    <xacro:include filename="robot_steering.xacro" />
</link>

<joint name="rear_right_steering_joint" type="fixed">
	<parent link="chassis"/>
    	<child link="rear_right_steering"/>
	<origin xyz="-0.140 0.115 -0.045"/>
</joint>

<joint name="rear_right_wheel_joint" type="fixed">
	<parent link="rear_right_steering"/>
    	<child link="rear_right_wheel"/>
	<origin xyz="0 0 -0.025" rpy="-${pi/2} 0 0"/>
</joint>

<link name="front_left_wheel">
    <xacro:include filename="robot_wheel.xacro" />
</link>

<link name="front_left_steering">
    <xacro:include filename="robot_steering.xacro" />
</link>

<joint name="front_left_steering_joint" type="fixed">
	<parent link="chassis"/>
    	<child link="front_left_steering"/>
	<origin xyz="0.140 -0.115 -0.045"/>
</joint>

<joint name="front_left_wheel_joint" type="fixed">
	<parent link="front_left_steering"/>
    	<child link="front_left_wheel"/>
	<origin xyz="0 0 -0.025" rpy="${pi/2} 0 0"/>
</joint>

<joint name="front_left_wheel_join" type="fixed">
	<parent link="chassis"/>
    	<child link="front_left_wheel"/>
    	<origin xyz="0.140 -0.115 -0.065" rpy="${pi/2} 0 0"/>
	<axis xyz="0 0 1"/>
</joint>

<link name="rear_left_wheel">
    <xacro:include filename="robot_wheel.xacro" />
</link>

<link name="rear_left_steering">
    <xacro:include filename="robot_steering.xacro" />
</link>

<joint name="rear_left_steering_joint" type="fixed">
	<parent link="chassis"/>
    	<child link="rear_left_steering"/>
	<origin xyz="-0.140 -0.115 -0.045"/>
</joint>

<joint name="rear_left_wheel_joint" type="fixed">
	<parent link="rear_left_steering"/>
    	<child link="rear_left_wheel"/>
	<origin xyz="0 0 -0.025" rpy="${pi/2} 0 0"/>
</joint>

</robot>

